
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: quicksand;
    color: #333;
}
.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: auto;
    border-bottom: 1px solid #f2f2f2;
}
.navbar h1{
    color: #f1356d;
}
.navbar .links{
    margin-left: auto;
}
.navbar a{
    text-decoration: none;
    margin-left: 16px;
    padding: 6px;
}
.navbar :hover{
    color: #f1356d;
}

.content{
    max-width: 600px;
    margin:40px auto;
    padding: 20px;
}